tr:nth-child(odd) {
    background-color: #f3f3f3;
}
.scores-table {
    border-collapse: collapse;
    border-width: 0;
    width: 100%;
    text-align: left;
    /*column-count: 7;*/
    /*column-gap: 10%;*/
    /*row-gap: 3%;*/
}
.scores-table td,th {
    margin: 10px 0px;
    padding: 5px 10px;
    /*padding: horizontal vertical*/
}

.scores-table td {
}

.scores-table th {
    /*padding-bottom: 5px;*/
    background-color: #138fe8;
    color: #ffffff;
    font-weight: bold;
    /*font-style: */
    text-decoration: underline;
}

.scores-40-plus {

}
.scores-20-40{

}
.scores-10-20{

}
.scores-5-10{

}
.scores-1-5{

}
.scores-0-1{

}