<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LUDR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<img src= {{ url_for('static', filename = 'images/arrow.jpg') }} width="100" height="100" border="0">
{% block content %}
<br /><br />
<table class="scores-table">
<tr><th>Chart</th><th>Rating</th><th>Title</th><th>Score</th><th>Change</th><th>Rank</th><th>Combo Type</th></tr>
{% for song in songs %}
    <tr class="{{ loop.cycle('odd', 'even') }}">
        <b>
            <td>{{ song.chart }}</td>
            <td>{{ song.difficulty }}</td>
        </b>
        <td>{{ song.name }} </td>
        {% if song.scores[0] < song.scores[1] %}
            <td>{{ song.scores[0] }} → {{ song.scores[1] }}</td>
            <td>+{{ song.scores[1] - song.scores[0] }}</td>
        {% else %}
            <td>{{ song.scores[0] }}</td>
            <td>--</td>
        {% endif %}
        <td>
        {% if song.ranks[0] != song.ranks[1] %}
            {{ song.ranks[0] }} → {{ song.ranks[1] }}
        {% else %}
            {{ song.ranks[0] }}
        {% endif %}
        </td>
        <td>
        {% if song.combos[0] != song.combos[1] %}
            {{ song.combos[0] }} → {{ song.combos[1] }}
        {% else %}
            {{ song.combos[0] }}
        {% endif %}
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}
</body>
</html>